body {
    font-family: Arial, sans-serif;
    background-image: url('../images/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 20px;
    color: #333;
}

h1 {
    color: #000a8b;
    text-align: center;
}
/* detailler */

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

ul ul {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
}

ul ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

ul ul li:last-child {
    border-bottom: none;
}

b {
    color: #555;
}

a {
    display: block;
    text-align: center;
    margin-top: 30px;
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* insersion et modification */


form {
    background-color:rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, input[type="submit"] {
    background-color: #000a8b;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}


